<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Teknik_Servis_Otomasyonu.Properties.Settings.Teknik_Servis_Otomasyon_SistemiConnectionString"
            connectionString="Data Source=ATA-MONSTER\SQLEXPRESS01;Initial Catalog=Teknik_Servis_Otomasyon_Sistemi;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>